.location {
  max-width: 830px;
  margin: 92px 0 0 148px;
}

.location__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  width: 100%;
  margin-bottom: 40px;
}

.location__cite {
  max-width: 738px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 10px;
}
.location__cite-name {
  text-align: right;
  max-width: 732px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
  margin-bottom: 32px;
}
.location__text {
  max-width: 722px;
  width: 100%;
  font-size: 16px;
  line-height: 26.08px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .location {
    max-width: 830px;
    margin: 90px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .location {
    max-width: 720px;
  }

  .location__title {
    font-size: 45px;
    line-height: 49px;
    max-width: 707px;
    margin-bottom: 50px;
  }
  .location__cite {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .location {
    max-width: 288px;
    margin-top: 64px;
  }
  .location__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 40px;
  }
  .location__cite {
    margin-bottom: 10px;
    line-height: 30px;
  }
}
