.nfts {
  margin: 92px auto 90px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  max-width: 984px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .nfts {
    margin-top: 88px;
    row-gap: 72px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .nfts {
    max-width: 320px;
    margin-bottom: 104px;
  }
}
